{%extends "base.html" %}

{% block content %}
  <div class="container mt-5 py-5">
      <div class="card mx-auto" style="width:20rem">
           <div class="card-header">
             transaction Details 
           </div>
           <div class="card-body">
            <table class="table">
              <tbody>    
                <tr>
                  <td colspan="2">Adults</td>
                  <td>{{num_adults}}</td>
                </tr>
                <tr>
                  {%if num_children  %}
                    <td colspan="2">Children</td>
                    <td>{{ num_children }}</td>
                 {%endif%}
                </tr>
                <tr>
                  <td colspan="2">Total Amount</td>
                  <td>NGN {{amt}}</td>
                </tr>
              </tbody>
            </table>
             
              <button class="btn btn-success btn-block" onclick="payWithPayStack()">Pay Now</button>
           </div>
      </div>
  </div>
{%endblock content %}


{% block javascript %}
<script src="https://js.paystack.co/v1/inline.js"></script> 
  <script>
  function payWithPayStack() {
    var handler = PaystackPop.setup({
      key: '{{paystack_public_key}}', // Replace with your public key
      email: "{{request.user.email }}",
      amount: "{{amount}}", 
      currency: 'NGN',
      ref:'{{ref}}', 
      channels:['card','mobile_money'],
      callback: function(response) {
        //this happens after the payment is completed successfully
          window.location.href="{%url 'verify-payment' ref %}"
      },
      onClose: function() {
        alert('Transaction was not completed, window closed.');
      },
    });
    handler.openIframe();
}
  </script>
{% endblock javascript %}